  <br>
  <br>
  
  <div class="list-group" *ngFor="let preduzece of preduzeca">
      <div> 
      <div class="card">
          <div class="card-header d-flex w-100 justify-content-between" [style.backgroundColor]="'#66BB6A'">
            <h4 class="text-white">{{preduzece.naziv}}</h4>
            <a href="/mesta" class="text-right"><small class="text-white">{{preduzece.gradDrzava}}</small></a>
          </div>
         
          <div class="card-body">
      <h5>{{preduzece.adresa}} &nbsp;&nbsp;<span class="badge custom-badge">Adresa</span></h5>
      <hr/>
      <h5>{{preduzece.pib}} &nbsp;&nbsp;<span class="badge custom-badge">PIB</span></h5>
      <hr/>
      <h5>Neki tip &nbsp;&nbsp;<span class="badge custom-badge">Tip</span></h5>
      <hr/>
      <div class="d-flex w-100 justify-content-between">
      <h5>{{preduzece.email}} &nbsp;&nbsp;<span class="badge custom-badge">Email</span></h5>
      <h5 class="text-right">{{preduzece.telefon}} &nbsp;&nbsp;<span class="badge custom-badge">Telefon</span></h5>
      </div>

    </div>
    </div>
    <br>
    </div>
