<br>
<br>


<div class="card" *ngIf="done">
  <div class="card-header d-flex w-100 justify-content-between bg-success">
    <h4 class="text-white">Br fakture: {{faktura.id}}.</h4>
    <h5 class="text-center text-white">{{faktura.poslovnaGodina}}</h5>
    <h5 class="text-right text-white">{{faktura.datumFakture}}</h5>
  </div>
  <div class="card-body">
    <h6>Stavke fakture:</h6>

    <table class="table">
      <thead class="thead">
        <th>Roba</th>
        <th>Jedinicna cena</th>
        <th>Kolicina</th>
        <th>Cena</th>
        <th>Rabat %</th>
        <th>Cena ( - Rabat )</th>
        <th>PDV %</th>
        <th>Ukupan PDV</th>
        <th>Ukupno</th>
      </thead>
      <tbody>
        <tr *ngFor="let stavkaF of stavkeFakture">
          <td>{{stavkaF.robaNaziv}}</td>
          <td>{{stavkaF.jedinicnaCena}}</td>
          <td>x {{stavkaF.kolicina}}</td>
          <td>{{stavkaF.kolicina * stavkaF.jedinicnaCena}}</td>
          <td>{{stavkaF.rabat}} %</td>
          <td>{{stavkaF.osnovicaPDV}}</td>
          <td>{{stavkaF.procenatPDV}} %</td>
          <td>{{stavkaF.iznosPDV}}</td>
          <td>{{stavkaF.iznosStavke}}</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <div class="d-flex w-100 justify-content-between">
      <h5>{{faktura.poslovniPartnerNaziv}} &nbsp;&nbsp;
        <span class="badge badge-success">Poslovni partner</span>
      </h5>
      <h5 class="text-right">{{faktura.datumValute}} &nbsp;&nbsp;
        <span class="badge badge-success">Datum valute</span>
      </h5>
    </div>
    <hr>
    <div class="d-flex w-100 justify-content-between">
      <h5>{{faktura.osnovica}} &nbsp;&nbsp;
        <span class="badge badge-success">Osnovica</span>
      </h5>
      <h5 class="text-center">{{faktura.ukupanPDV}} &nbsp;&nbsp;
        <span class="badge badge-success">Ukupan PDV</span>
      </h5>
      <h5 class="text-right">{{faktura.iznosZaPlacanje}} &nbsp;&nbsp;
        <span class="badge badge-success">Ukupan iznos</span>
      </h5>
    </div>
    <hr>
    <button id="modalTrigger" type="button" class="btn btn-success" data-toggle="modal" data-target="#stavkaModal">
      Dodaj stavku
    </button>


    <div id="stavkaModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header bg-success">
            <h5 class="modal-title text-white">Dodavanje stavke</h5>
            <button id="closeExampleModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <form #stavkaForma="ngForm" (ngSubmit)="onSubmitStavka(stavkaForma.value)">
            <div class="modal-body">
              <div class="form-group">
                <label for="robaId">Roba:</label>
                <select required class="custom-select" name="robaId" id="robaId" ngModel>
                  <option *ngFor="let stavka of stavke" [value]="stavka.robaId">{{stavka.robaNaziv}} : {{stavka.cena}} din</option>
                </select>
              </div>
              <div class="form-group">
                <label for="kolicina">Kolicina</label>
                <input type="number" required min="1" name="kolicina" class="form-control" id="kolicina" placeholder="Unesite kolicinu"
                  ngModel>
              </div>
              <div class="form-group">
                <label for="rabat">rabat</label>
                <input type="number" min="1" max="100" required name="rabat" class="form-control" id="rabat" placeholder="Unesite rabat"
                  ngModel>
              </div>

            </div>
            <div class="modal-footer">
              <button type="submit" [disabled]="!stavkaForma.form.valid" class="btn btn-primary mr-auto">Dodaj</button>
              <button type="button" class="btn btn-secondary text-right" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
<br>