<br>
<table class="table">
  <thead class="thead table-success">
    <tr>
      <th>Grad</th>
      <th class="text-center">Drzava</th>
      <th class="text-right"></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let mesto of mesta">
      <td>{{mesto.grad}}</td>
      <td class="text-center">{{mesto.drzava}}</td>
      <td class="text-right">                    
        <div class="dropdown" >
          <button [disabled]="!ulogovan"class="btn btn-outline-success btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Opcije
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" (click)="showEditModal(mesto)">Izmeni</a>
            <button hidden="true" id="openModal" #openModal data-toggle="modal" data-target="#editModal"></button>
            <a class="dropdown-item" (click)="izbrisiMesto(mesto)">Izbrisi</a>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>


<br>
<hr>
<br>

<button id="modalTrigger" type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#mestoModal">
  Dodavanje mesta
</button>
  
<!-- Modal -->
<div id="mestoModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h5 class="modal-title text-white">Novo mesto</h5>
        <button id="closeExampleModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <form #mestoForma="ngForm" id="mestoForma" (ngSubmit)="onSubmitMesto(mestoForma.value)">
      <div class="modal-body">
          <div class="form-group">
            <label for="grad">Grad:</label>
            <input type="text" required name="grad" class="form-control" id="grad" placeholder="Grad" ngModel>
          </div>
        
          <div class="form-group">
            <label for="drzava">Drzava:</label>
            <input type="text" required name="drzava" class="form-control" id="drzava" placeholder="Drzava" ngModel>
          </div>
      </div>
      <div class="modal-footer">
        <button type="submit" [disabled]="!mestoForma.form.valid" class="btn btn-primary mr-auto">Dodaj</button>
        <button type="button" class="btn btn-secondary text-right" data-dismiss="modal">Close</button>
      </div>
    </form>
    </div>
  </div>
</div>

<div id="editModal" class="modal fade" #editModal tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h5 class="modal-title text-white">Izmeni mesto</h5>
        <button id="closeExampleModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <form #editForma="ngForm" (ngSubmit)="onSubmitMestoEdit(editForma.value)">
      <div class="modal-body">
          <div class="form-group">
            <label for="grad">Grad:</label>
            <input type="text" required name="grad" class="form-control" id="grad1"  placeholder="Grad" [ngModel]="editMesto.grad">
          </div>
        
          <div class="form-group">
            <label for="drzava">Drzava:</label>
            <input type="text" required name="drzava" class="form-control" id="drzava1" placeholder="Drzava" [ngModel]="editMesto.drzava">
          </div>
      </div>
      <div class="modal-footer">
        <button type="submit" [disabled]="!editForma.form.valid" class="btn btn-primary mr-auto">Izmeni</button>
        <button type="button" class="btn btn-secondary text-right" data-dismiss="modal">Close</button>
      </div>
    </form>
    </div>
  </div>
</div>