<div class="container-flud">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/fakture">Fakture</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse  navbar-ex1-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/preduzeca" href="#">Preduzeća
            <span class="sr-only"></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Poslovni Partneri</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/fakture">Fakture</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/mesta" href="#">Mesto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/jedinicaMere">Jedinica Mere</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cenovnik" shref="#">Cenovnik</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Stavke Cenovnika</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/roba">Roba</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/grupaRobe">Grupa Robe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/poslovna_godina" href="#">poslovna_godina</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/pdv">Pdv</a>

        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li *ngIf="!logedIn" class="nav-item">
          <button class="btn btn-outline-success my-2 my-sm-0 btn1" data-toggle="modal" data-target="#loginModal">Prijava</button>
        </li>
        <li *ngIf="!logedIn" class="nav-item">
          <button class="btn btn-outline-success my-2 my-sm-0 btn1" routerLink="/registracija" type="submit">Registracija</button>
        </li>
        <li *ngIf="logedIn" class="nav-item">
            <button (click)="odjava()" class="btn btn-outline-success my-2 my-sm-0 btn1">Odjava</button>
        </li>

      </ul>

    </div>
  </nav>
  </div>

  <div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header bg-success">
            <h5 class="modal-title text-white">Novo mesto</h5>
            <button id="closeExampleModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <form #loginForma="ngForm" (ngSubmit)="onSubmitLogin(loginForma.value)">
          <div class="modal-body">            
              <div class="form-group">
                <label for="email">email:</label>
                <input type="text" required name="email" class="form-control" id="email" placeholder="email" ngvemail ngModel>
              </div>
            
              <div class="form-group">
                <label for="password">password:</label>
                <input type="password" required minlength="5" maxlength="15" name="password" class="form-control" id="password" placeholder="password" ngModel>
              </div>
          </div>
          <div class="modal-footer">
              <button type="submit" [disabled]="!loginForma.form.valid" class="btn btn-primary mr-auto">Login</button>
              <button type="button" class="btn btn-secondary text-right" data-dismiss="modal">Close</button>
            </div>
        </form>
        </div>
      </div>
    </div>


<div class="container">
  <router-outlet></router-outlet>
</div>