<br>
<table class="table">
  <thead class="thead table-success">
    <tr>
      <th>Grupa Robe</th>
      <th class="text-right">Brisanje</th>
    </tr>
  </thead>
  <tbody>
<tr *ngFor="let grupaRobe of gr">

  <td>{{grupaRobe.naziv}}</td>
  
  <td class="text-right">
   <button (click)="izbrisiGrupuRobe(grupaRobe)" class="btn btn-danger">Delete</button>
  </td>
</tr>

</tbody>
</table>

<button id="modalTrigger" type="button" class="btn btn-primary" data-toggle="modal" data-target="#dodavanjeGrupeRobe">
  Dodavanje Grupa robe
</button>
  
<div id="dodavanjeGrupeRobe" class="modal fade" tabindex="1" role="dialog" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header bg-success">
      <h5 class="modal-title text-white">Grupa Robe</h5>
      <button id="closeExampleModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">x</span>
      </button>



    </div>

    <form #GrupaRobeForma="ngForm" (ngSubmit)="onSubmitGrupaRobe(GrupaRobeForma.value)">
        <div class="modal-body">
           
          <div class="form-group">
              <label for="grupaRobe">Grupa Robe:</label>
              <input type="text" required name="grupaRobe" class="form-control" id="grupaRobe" placeholder="Naziv Grupa Robe" ngModel>
            </div>

            
                
            <div class="form-group">
              <label for="pdv">PDV:</label>
              <select required class="custom-select" name="pdv" id="pdv" ngModel>
                  <option *ngFor="let pdv of pdve" [value]="pdv.id">{{pdv.naziv}}</option>
                </select>
            </div>
          
        
        </div>
        <div class="modal-footer">
          <button type="submit" [disabled]="!GrupaRobeForma.form.valid" class="btn btn-primary mr-auto">Dodaj</button>
          <button type="button" class="btn btn-secondary text-right" data-dismiss="modal">Close</button>
        </div>
      </form>
</div>
</div>

</div>