<form #registracijaForm="ngForm" (ngSubmit)="onSubmit(registracijaForm.value)">
  <div class="form-group">
    <label for="naziv">Naziv Preduzeca:</label>
    <input type="text" required name="naziv" class="form-control" id="naziv" placeholder="Naziv Preduzeca" ngModel>
  </div>

  <div class="form-group">
    <label for="adresa">Adresa:</label>
    <input type="text" required name="adresa" class="form-control" id="adresa" placeholder="Adresa preduzeca" ngModel>
  </div>


  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="pib">Pib:</label>
      <input type="text" required name="pib" class="form-control" id="pib" placeholder="pib" ngModel>
    </div>
    <div class="form-group col-md-6">
      <label for="telefon">Telefon:</label>
      <input type="text" required name="telefon" class="form-control" id="telefon" placeholder="Telefon" ngModel>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="email">Email:</label>
      <input type="email" required name="email" class="form-control" id="email" placeholder="email" ngModel>
    </div>
    <div class="form-group col-md-6">
      <label for="password">Password:</label>
      <input type="password" required maxlenght="15" minlenght="5" name="password" class="form-control" id="password" placeholder="password" ngModel>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="tip">Tip</label>
      <input type="text" required name="tip" class="form-control" id="tip" placeholder="Tip preduzeca" ngModel>
    </div>
    <div class="form-group col-md-6">
      <label for="logo">logo:</label>
      <input type="text" required name="logo" class="form-control" id="logo" placeholder="Logo" ngModel>
    </div>
  </div>

  <div class="form-group">
    <label for="mestoId">Mesto:</label>
    <select required class="custom-select" name="mestoId" id="mestoId" ngModel>
        <option *ngFor="let mesto of mesta" [value]="mesto.id">{{mesto.grad}}</option>
      </select>
  </div>
  


  <div class="form-row text-center">
    <div class="col-6">
      <button type="submit" [disabled]="!registracijaForm.form.valid" class="btn btn-primary">Sign up</button>
    </div>
    <div class="col-6">
      <button class="btn btn-success" (click)="toLogin()">Login</button>
    </div>
  </div>

  <!-- Button trigger modal -->
<button id="modalTrigger" type="button" class="btn btn-primary" data-toggle="modal" data-target="#mestoModal">
  Dodavanje mesta
</button>
 
<!-- Modal -->
<div id="mestoModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Novo mesto</h5>
        <button id="closeExampleModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <form #mestoForma="ngForm" (ngSubmit)="onSubmitMesto(mestoForma.value)">
      <div class="modal-body">
          <div class="form-group">
            <label for="grad">Grad:</label>
            <input type="text" required name="grad" class="form-control" id="grad" placeholder="Grad" ngModel>
          </div>
        
          <div class="form-group">
            <label for="drzava">Drzava:</label>
            <input type="text" required name="drzava" class="form-control" id="drzava" placeholder="Drzava" ngModel>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" [disabled]="!mestoForma.form.valid" class="btn btn-primary">Dodaj</button>
      </div>
    </form>
    </div>
  </div>
</div>

</form>